name: "Deploy to prod"

on:
    push:
        branches:
            - "main"
        tags:
            - "v*"
    workflow_dispatch:

jobs:
    build-docker-image-for-prod:
        permissions:
            contents: read
            packages: write
        uses: ./.github/workflows/build-and-push-docker-image.yml
        secrets:
          minioCrt: ${{ secrets.MINIO_PUBLIC_CERT }}

    deploy-to-prod:
        needs: build-docker-image-for-prod
        uses: ./.github/workflows/deploy.yml
        with:
            target-namespace: ${{ vars.PROD_NAMESPACE }}
            ingress-path: "/prod"
        secrets:
            kubeconfig: ${{ secrets.KUBECONFIG }}
            postgresPassword: ${{ secrets.PROD_POSTGRES_PASSWORD }}
            userPassword: ${{ secrets.PROD_USER_PASSWORD }}
            mailPassword: ${{ secrets.MAIL_APPLICATION_PASSWORD }}
            minioUser: ${{ secrets.MINIO_USER }}
            minioPassword: ${{ secrets.MINIO_PASSWORD }}
            minioURLInternal: ${{ secrets.MINIO_PROD_URL_INTERNAL }}
            minioURLExternal: ${{ secrets.MINIO_PROD_URL_INTERNAL }}
            minioBucketName: ${{ secrets.MINIO_PROD_URL_EXTERNAL }}
